---
import { SEO } from "astro-seo";
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar/navbar.astro";
import "@fontsource/inter";

export interface Props {
  title: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const resolvedImageWithDomain = new URL(
  "/opengraph.jpg",
  Astro.site,
).toString();

const { title } = Astro.props;

const makeTitle = title
  ? title + " | " + "Retirate Joven y Rico"
  : "Retirate Joven y Rico";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <script src="../utils/darkMode.js"></script>
    <!-- <link rel="preload" as="image" href={src} alt="Hero" /> -->
    <SEO
      title={makeTitle}
      description="Controla tu destino financiero"
      canonical={canonicalURL}
      twitter={{
        creator: "@alfonso_meneses",
        site: "@web3templates",
        card: "summary_large_image",
      }}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: `Retirate Joven y Rico`,
          image: resolvedImageWithDomain,
        },
        image: {
          alt: "Retirate joven y rico",
        },
      }}
    />
    <!-- Convertbox -->
    <script type="text/javascript">
      !(function (e, t) {
        ((e = t.createElement("script")).src =
          "https://cdn.convertbox.com/convertbox/js/embed.js"),
          (e.id = "app-convertbox-script"),
          (e.async = true),
          (e.dataset.uuid = "e361587d-e60d-47ea-abc8-e0e35e636ada"),
          document.getElementsByTagName("head")[0].appendChild(e);
      })(window, document);
    </script>
  </head>
  <body class="bg-white text-slate-500 dark:bg-slate-800 dark:text-slate-400">
    <Navbar />
    <slot />
    <Footer />
    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }
    </style>
    <script is:inline>
      const theme = (() => {
        if (
          typeof localStorage !== "undefined" &&
          localStorage.getItem("theme")
        ) {
          return localStorage.getItem("theme");
        }
        if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
          return "dark";
        }
        return "light";
      })();

      if (theme === "light") {
        document.documentElement.classList.remove("dark");
      } else {
        document.documentElement.classList.add("dark");
      }
      window.localStorage.setItem("theme", theme);
    </script>
  </body>
</html>
